body{
    text-align: center;
    font-family: sans-serif;
    background: #dbdbdb; 
}
table {
    border: 3px solid #ff6666;
    margin: auto;
    width: 650px;
    text-align: left;
}

thead {
    font-weight: bold;
    text-align: center;
    background: #ffadad;
}

td {
    border-top: 1px solid #ff6666;
}

h3 {
    color: #ff3838;
}

.code {
    font-family: monospace;
    background-color: beige;
    width: 80px;
}

.namecol {
    width: 100px;
}

.description {
    width: 400px;
}